body {
	padding: 2em;
	margin: 0;
	height: 100vh;
	font-family: 'Nunito', Arial;
} 

summary { 
    padding: 1em;
    background: rgb(255, 218, 5);
	margin-bottom: 1em;
	cursor: pointer;
	outline: none;
	border-radius: ,3em;
    font-weight: bold;
	transition: background-color 3s;
	
	&:hover {
	   backgroung: rgb(255, 218, 52);
	}
	
	&::-webkit-details-marker {
        background: url('../down.svg') center no-repeat;
		color: transparent;
		width: 17px;
		height: 17px;
	}
	
}
img { 
    width: 100%;
}

details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}

details[open] summary::-webkit-details-marker {
        background: url('../up.svg') center no-repeat;
		color: transparent;
} 

@keyframes sweep { 
    from { 
        opacity: 0; margin-top: -10px;
	}
	to {
        opacity: 0;	margin-top: 0;	
	}
} 